.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: #ffffff;
}

.main {
  flex: 1;
  padding-top: 80px; /* Espaço para o header fixo */
}

@media (max-width: 768px) {
  .main {
    padding-top: 70px;
  }
}
